<div>
  <h2>
    <span id="done-task-page-heading" data-cy="doneTaskPageHeading">Gelöste Beispiele</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="userTasksMeta">
    <table class="table table-striped" aria-describedby="admin-task-page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th><span>Beispiel Name</span></th>
          <th><span>Angabe PDF</span></th>
          <th><span>Angabe Excel</span></th>
          <th><span>Abgabe Excel</span></th>
          <th><span>Beispiel richtig?</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="userTasksMeta">
        <tr *ngFor="let userTaskMeta of userTasksMeta">
          <ng-container *ngIf="userTaskMeta?.user_id == currentAccount?.id">
            <td>{{ userTaskMeta.id }}</td>
            <td>{{ userTaskMeta.admin_task_name }}</td>
            <td *ngIf="userTaskMeta.instruction_pdf != undefined">
              <jhi-file-download [fileId]="userTaskMeta.instruction_pdf"> </jhi-file-download>
            </td>
            <td *ngIf="userTaskMeta.instruction_excel != undefined">
              <jhi-file-download [fileId]="userTaskMeta.instruction_excel"> </jhi-file-download>
            </td>


            <td *ngIf="userTaskMeta.submission_excel != undefined">
              <jhi-file-download [fileId]="userTaskMeta.submission_excel"> </jhi-file-download>
            </td>
            <td>{{ userTaskMeta.is_correct }}</td>




            <ng-container *ngFor="let userTask of userTasks">
              <ng-container *ngIf="userTask.id == userTaskMeta.id">
                <button type="submit" [routerLink]="['./', userTask.id, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm" [queryParams]="{id: userTask.id, adminTaskId: userTask.adminTask?.id, adminTaskName: userTask.adminTask?.name, adminTaskInstructionExcel: userTaskMeta?.instruction_excel, adminTaskInstructionPdf: userTaskMeta?.instruction_pdf, adminTaskSolutionExcel: userTaskMeta?.solution_excel}">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>
              </ng-container>
            </ng-container>

          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="adminTasks">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
