<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myAdminTaskLabel">Beispiel lösen</h2>

      <div *ngIf="adminTask">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!adminTask.id">
          <label>Beispielname</label>
          <input type="text" class="form-control" name="name" value="{{adminTask?.name}}" readonly />
        </div>



        <div class="form-group">
          <label class="form-control-label" for="fileUploadSubmissionExcel">Upload Abgabe Excel: </label>
          <jhi-file-upload
            [disabled]="false"
            id="fileUploadSubmissionExcel"
            [fileId]="uploadFileIdSubmissionExcel"
            (fileAdded)="handleFileAddedSubmissionExcel($event)"
            (fileRemoved)="handleFileRemovedSubmissionExcel($event)"
            (fileModified)="handleFileMovedSubmissionExcel($event[0], $event[1])"
          >
          </jhi-file-upload>
        </div>

        <small
          class="form-text text-danger"
          *ngIf="uploadFileIdSubmissionExcel == -1"
        >
          Bitte Laden Sie ein File hoch
        </small>
        <small
          class="form-text text-danger"
          *ngIf="uploadFileIdSubmissionExcel == -2"
        >
          Bitte Laden Sie das richtige Dateiformat hoch (.xlsx für Biepsiele und .pdf für Angaben)
        </small>
      </div>

      <div *ngIf="adminTask">
        <button type="button" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          [disabled]="
            editForm.invalid ||
            isSaving ||
            uploadFileIdSubmissionExcel == -1
          "
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
