<div>
  <h2>
    <span id="all-tasks-page-heading" data-cy="allTasksPageHeading" >Ungelöste Beispiele</span>


    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="adminTasks">
    <table class="table table-striped" aria-describedby="all-tasks-page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
        <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
        <th><span>Beispiel Name</span></th>
        <th><span>Angabe PDF</span></th>
        <th><span>Angabe Excel</span></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody *ngIf="adminTasksFiltered">
      <tr *ngFor="let adminTask of adminTasksFiltered">

        <td>{{ adminTask.id }}</td>
        <td>{{ adminTask.name }}</td>
        <td *ngIf="adminTask.instruction_pdf != undefined">
          <jhi-file-download [fileId]="adminTask.instruction_pdf"> </jhi-file-download>
        </td>
        <td *ngIf="adminTask.instruction_excel != undefined">
          <jhi-file-download [fileId]="adminTask.instruction_excel"> </jhi-file-download>
        </td>

        <td class="text-right">
          <div class="btn-group">
            <button type="submit" [routerLink]="['./', adminTask.id, 'new']" queryParamsHandling="merge" class="btn btn-primary btn-sm" [queryParams]="{adminTaskId:adminTask?.id, adminTaskName: adminTask?.name, adminTaskInstructionExcel: adminTask?.instruction_excel, adminTaskInstructionPdf: adminTask?.instruction_pdf} ">
              <fa-icon icon="check"></fa-icon>
              <span class="d-none d-md-inline">Beispiel lösen</span>
            </button>
          </div>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="adminTasks">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="transition()"
      ></ngb-pagination>
    </div>
  </div>
</div>
