<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Herzlich Willkommen!</span></h1>



    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <p>Dieses Tool soll Ihnen bei der Erarbeitung der Beispiele im Buch <b>„Einführung in die Statistik mit EXCEL und SPSS“</b> Hilfe leisten. Ihre Eingaben in vorgefertigte Dateien ermöglichen eine Überprüfung Ihrer Eingaben und zeigen Ihnen, ob Ihr Ansatz und Ihre Berechnungen richtig sind. </p>
      <p>Rückmeldungen sehr gerne per Email an <b>christine.duller@jku.at</b> </p>

      <p>Viel Spaß mit den Statistikbeispielen </p>
      <p>Christine Duller</p>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>Wenn Sie bereits einen Account haben können Sie sich hier</span>
        <a class="alert-link" (click)="login()">anmelden</a>
        <span>.</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>



  </div>
</div>
