<form *ngIf="adminTask" name="deleteForm" (ngSubmit)="confirmDelete(adminTask.id!)">
  <div class="modal-header">
    <h4 class="modal-title">Löschung bestätigen</h4>

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p>Wollen Sie diesen Admin-Task löschen?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Abbrechen</span>
    </button>

    <button type="submit" class="btn btn-danger"><fa-icon icon="times"></fa-icon>&nbsp;<span>Löschen</span></button>
  </div>
</form>
